/**************************TAG SELECTORS**************************/

header {
  background-color: rgb(61, 153, 95);
  padding: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

li a:hover:not(.active) {
  background-color: rgb(193, 168, 46);
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 100px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/**************************CLASS SELECTORS**************************/

.navbar-active {
  background-color: rgb(41, 131, 59);
}

.navbar-logo {
  background: url("/path") no-repeat; 
  width: 70px; 
  height: 60px; 
  display: block; 
  margin-right: 15px;
  text-indent: -9999px;
}

.navbar-title {
  width: 100px; 
  height: 50px; 
  display: block; 
  margin-right: 50px;
  color: rgb(221, 228, 69);
  font-size: 24px;
  font-weight:bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.control-panel-buttons {
  text-align: center;
}



/* Styling for the origin and destination inputs */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-group label {
  font-weight: bold;
  color:#4caf5c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 3px;
}

.input-group input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.control-panel-locators {
  display:inherit;
  width: 16px;
  height: 20px;
  position: flex;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Styling for the route button */
.route-button {
  background-color: #4caf5c;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  border-top: 5px;
  border: snow;
  font-size: 14px;
  margin-top:10px;
  margin-bottom: 10px;
  position: relative;
  width: 250px;
  cursor: pointer;
}

.footer-numbers {
  color: yellow; 
  font-weight:bolder"
}

/**************************ID SELECTORS**************************/

/* Styling for the route segment header */
#directions-panel b {
  font-size: 16px;
}

/* Styling for the control panel */
#control-panel {
  width: 300px;
  height: 425px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50px;
  left: 20px;
  padding: 20px;
  z-index: 9;
}

#map {
  width: 90%;
  height: 550px;
  border-radius: 10px;
  margin-top: 100px;
  /* float: right; */
}

/* Styling for info-box */
#info-box {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 10px;
  width: 100%;
  height: 75px;
  background-color: rgb(61, 153, 95);
  color:white;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}